@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <p>civdrafter.com made by Sjoerd Houben</p>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
