@page "/civ5"

<h1>Civilization 5 Random Civilization Drafter</h1>

How many players?
1-12
How many Civilizations will one player receive?
1-3
@code {
    protected override async Task OnInitializedAsync()
    {
    }
}
