@page "/"

<h1>Civilization 6 Random Civilization Drafter</h1>

<p>How many players?</p>
1-12
<p>How many Civilizations will one player receive?</p>
1-3


@code {

    protected override async Task OnInitializedAsync()
    {
    }
}
